.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

.header {
    color: #4f4848;
    align-self: flex-start;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

body{
    display: flex;
    justify-content: center;
    background-color: #a39b9b;
}

.column{
    display: flex;
    flex-direction: column;
    flex: 150px;
    margin: 10px;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 5px;
}

.columns{
    display: flex;
    background-color: #a39b9b;
    min-height: 500px;
    flex-wrap: wrap;
}

.columnHeader{
    display: flex;  
    /* background-color: orange; */
    justify-content: flex-end;
   
    
}

.columnHeaderLeftElement{
    /* background-color: blue;  */
}

.columnHeaderRightElement{

    /* background-color: pink; */
    display: flex;
  
}

.columnHeaderCenterElement{
    display: flex;
    flex:1;
    justify-content: center;
    color: crimson;
    font-weight: bold;
    
}

.line{
   border: 1px solid red;
}

.columnList{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}

.listElement{
    min-height: 50px;
    /* background-color: pink; */
    padding: 10px;
    margin-bottom: 5px;
    flex:1;
    box-shadow: 1px 1px;
}


